body {
	BACKGROUND-COLOR: #003366;
	color: white;
}
.roundedImage {
	flex: 1;
	background-image: url('E4oGfFRF_400x400.jpg');
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	max-width: 200px;
	height: 200px;
}
.verseText {
	align-self: flex-start;
	padding-left: 10px;
	padding-right: 10px;
}
.widget {
	background-color: white;
	border-radius: 5px;
	padding: 10px;
}
ul
{
	padding-inline-start: 0px;
	list-style: none;
}
.row { margin: 0; }